.signin-container {
    margin-top: 1.8rem;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.form-wrapper {
    width: 75rem;
    height: 36rem;
    background-color: #eee;
    border-radius: 3rem;
    box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    border: 0.1rem solid #0eb3f5;
}

.banner {
    position: absolute;
    top: 20%;
    left: -36rem;
    text-align: center;
    color: #fff;
    width: 35rem;
    z-index: 100;
    transition: left 0.8s;
}

.signin-container.change .banner {
    left: -2.50rem;
}

.banner h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.banner p {
    font-size: 1.5rem;
}

.green-bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #04aff3, #6fd0f7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    transition: width 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.signin-container.change .green-bg {
    width: 40%;
}

.green-bg button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 16rem;
    height: 5rem;
    background-color: transparent;
    border: 0.1rem solid #fff;
    border-radius: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #fff;
    cursor: pointer;
}

.green-bg button:hover {
    background-color: #fff;
    color: #0eb3f5;
    border: 0.1rem solid #024762;
}

.signup-form {
    width: 60rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    transition: left 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.signin-container.change .signup-form {
    left: 23rem;
}

.signup-form h1 {
    font-size: 3rem;
    color: #0eb3f5;
}

.social-media {
    display: flex;
}

.social-media i {
    width: 4rem;
    height: 4rem;
    border: 0.1rem solid #0eb3f5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    font-size: 2rem;
    color: #555;
    cursor: pointer;
}

.signup-form p {
    font-size: 1.8rem;
    color: #555;
    margin-bottom: 2rem;
}

.input-group {
    position: relative;
}

.input-group input {
    width: 28rem;
    height: 2rem;
    padding: 1rem 1rem 1rem 3rem;
    background-color: #ddd;
    border: none;
    border-radius: 0.5rem;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #555;
}

.signup-form button {
    width: 16rem;
    height: 5rem;
    background-color: #0eb3f5;
    border: none;
    border-radius: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #fff;
    margin-top: 3rem;
    cursor: pointer;
    border: 0.1rem solid #ade0f4;
}

.signup-form button:hover {
    background-color: #fff;
    color: #0eb3f5;
    border: 0.1rem solid #024762;
}